<configuration>
	<system.webServer>

	<iisnode 
		nodeProcessCommandLine="\node\node.exe" />
		<handlers>
			<add name="iisnode" path="web.js" verb="*" modules="iisnode" />
		</handlers>

	

<rewrite>
        <rules>
            <!-- All other URLs are mapped to the Node.js application entry point -->
            <rule name="DynamicContent">
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                </conditions>
                <action type="Rewrite" url="web.js" />
            </rule>
        </rules>
    </rewrite>

	</system.webServer>
</configuration>